/*================================= global styles */
body{
    padding: 0;
    margin: 0;
    background-color: #000a3f;
    color: white;
}
div{
    padding: 0;
    margin: 0;
}
.hide{
    display: none;
}
a{
    text-decoration: none;
}
.link:hover{
    cursor: pointer;
}
/* ================================ navbar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: #000a3f;
    color: white;
    font-size: 18px;
}
.navLogo{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.close, .hanburgerButton{
    display: none !important;
    font-size: 24px !important;
}
.show-close-button{
    display: flex !important;
    color: red;
    font-size: 20px !important;
}

.show-nav-items{
    display: flex;
    flex-direction: column;
    margin: 0;
    list-style: none;
    color: white;   
}
.show-close-button:hover, .hanburgerButton:hover{
    cursor: pointer;
}
.nav-items{
    display: flex;
    list-style: none;        
}
.nav-items li {
    margin: 0 10px;
    color: white !important;       
}

/* ================================landing page styles */
.logDiv{
    margin:30vh auto 0 auto;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}
.descriptiveDiv{
    margin: 0 auto;
    text-align: center;
}
.get-started-button{
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px 12px;
    width: 110px;
    margin: 0 auto;
    margin-top: -20px !important;
    font-size: 16px;
    text-decoration: none;
}
.get-started-button:hover{   
    cursor: pointer;
    transform: scale(1.1);
}
.description{
    font-family: 'Exo', sans-serif;
    font-size: 32px !important;
}
.description2{
    font-family: 'Exo', sans-serif;
    font-size: 18px;
}
/* ====================================signup styles */
.signupDiv{
    margin: 100px auto;
    text-align: center;  
}
.signup-form{
    width: 35%;
    margin: 0 auto;
}
.signup-form input{
    width: 100%;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #000a3f;
    padding: 7px;
    margin: 5px;
}
.signup-button-div{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.signup-button-div button{
    border: none;
    color: white;
    background-color: #000a3f;
    padding: 10 25px !important;
    font-size: 14px;
    text-transform: uppercase;
}
/* ===================================dashboard styles */
.dasboardDiv{
    display: flex;
    align-items: flex-start;   
}
.dasboard-content{
    background-color: #fafafb;
    width: 230px;
    display: flex;
    flex-direction: column;
    color: #000a3f;
    padding: 0;
    height: 590px;
    list-style-type: none;
    border-right: solid #eeeeee;
}
.dasboard-header{
    text-transform: uppercase;
    text-decoration: underline;
}
.dasboard-content-items{
    margin: 0;
    list-style-type: disc;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0px !important; 
    padding: 20px 20px 0 20px !important; 
}
.dasboard-content-items li{
    list-style: none; 
    margin: 20px 0 !important;      
}
.logoutDiv{
    margin: 100px 20px 0 20px !important;
}
.avater-div{
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Exo', sans-serif;    
}
.avatar-label{
    margin: 25px 0 0 10px;
}
.Avatar{
    width: 50px;
    height: auto;
    border-radius: 50%;
}
.avatar-div-container{
    display: flex;
    justify-content: space-between; 
    width: 100%;
    padding: 10px 30px 2px 20px;
    border-bottom: 2px solid #eeeeee;   
}
.filter-div{
    margin-top: 15px;    
}
.filter-div label{
    font-weight: bold;
}
.search-sales-by-attendant-buttton{
    background-color: #000a3f;
    color: white;
    border-radius: 15px;
    border: none;
    padding: 5px 10px;
}

/* ===================================footer styles */
.footerDiv{
    margin-top: 25vh;
    text-align: center;
    font-size: 18px;
}
.copy-right{
    letter-spacing: 25px;
}

/* ========================================= Smallest mobile device */

@media (max-width: 480px) { 
    .description{
        font-size: 24px !important;
    }
    .get-started-button{
        padding: 5px 7px;
        width: 110px;
        margin: 0 auto;
        margin-top: -10px !important;
        font-size: 12px;
    }
    .navbar{
        display: block;
    }
    .hanburgerButton{
        display: flex !important;
    }
    .nav-items{
        display: none;
    }
    ul{        
        padding: 0 5px !important;       
    }
    /* sigup and signin style */
    .signupDiv{
        margin: 50px auto;
   }
    .signup-form{
        width: 90%;
    }
    .signup-button-div button{
        padding: 10 20px !important;
        font-size: 12px;        
    }
    .signup-button-div p{
        font-size: 13px;
    }
    .signup-footer, .signin-footer{
        margin-top: 50vh;
    }
}
/* =============================== small screen size */
@media (min-width: 481px) and (max-width: 768px){
     /* sigup and signin style */
    
    .signup-form{
        width: 50%;
    }   
    .signup-footer, .signin-footer{
        margin-top: 70vh;
    } 

}
@media (min-width: 769px) and (max-width: 1025px){
     /* sigup and signin style */
    
    .signup-form{
        width: 50%;
    }   
    .signup-footer, .signin-footer{
        margin-top: 70vh;
    } 

}


attendants
categories
date