<html lang="en">
    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
            <meta name="description" content="Store Manus is an online app that help you manage your sales">
            <meta name="author" content="XROLE">
            <meta name="theme-color" content="#000a3f">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" href="../css/style.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">      
            <link href="https://fonts.googleapis.com/css?family=Exo|Poiret+One" rel="stylesheet">
            <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
            <link rel="manifest" href="./manifest.json">
            <script type="text/javascript" src="../js/index.js"></script>
        <title>Store Manus</title>
    </head>
    <body style="background-color: white; color:#000a3f;">
        <div>
            <nav class="navbar">
                    <div class="navLogo">
                        <p><a href="../index.html" style="color: white"> <i class="fas free fa-stream" ></i> &nbsp; <span>Store Manus</span></a></p>
                        <p>
                            <i class="fa fa-bars hanburgerButton" ></i>
                            <i class="fa fa-times close" ></i>
                        </p>                 
                    </div>
                    <ul class="nav-items">
                        <a href="signup.html" style="color: white"> <li>Register</li></a>
                        <a href="signin.html" style="color: white"><li>Login</li></a>
                    </ul>
            </nav>
            <div class="dasboardDiv">
                <div class="dasboard-content">
                    <div class="dashboard-toggler-div">
                        <p class="toggler">
                            <i class="fa fa-bars dasboard-content-toggle-show" ></i>
                            <i class="fa fa-times close-toggle" style="color: red" ></i>
                        </p>    
                    </div>
                    <div class="dasboard-content-main">
                        <ul class="dasboard-content-items">
                            <p class="dasboard-header">Products</p>
                            <li class="link"><i class="fas fa-cookie-bite"></i> &nbsp; All Products</li>
                            <li class="link"><i class="far fa-plus-square"></i> &nbsp; Add Product</li>
                            <li class="link"><i class="fab fa-accessible-icon"></i> &nbsp; Available Products</li>
                            <li class="link"><i class="fas fa-thermometer-empty"></i> &nbsp; Finished Products</li>                    
                        </ul>
                        <ul class="dasboard-content-items">
                            <p class="dasboard-header">Attendants</p>
                            <li class="link"><i class="fas fa-users"></i> &nbsp; All Attendants</li>
                            <li class="link"><i class="far fa-plus-square"></i> &nbsp; Add Attendant</li>
                        </ul>
                        <div class="logoutDiv">
                            <a href="">logout &nbsp;<i class="fas fa-sign-out-alt"></i></a>
                        </div>
                    </div>
                </div>
                <div class="test">
                    <div class="avatar-div-container">
                        <div class="avater-div">
                            <img src="../img/avatar.jpg" alt="Avatar" class="Avatar">
                            <p class="avatar-label">welcome: Xrole</p>
                        </div>
                        <div class="filter-div">
                            <label for="Filter sales by Attendants">Filter Sales By: </label> &nbsp;
                            <select name="" id="">
                                <option value="">-Select All-</option>
                                <option value="">Attendats</option>
                                <option value="">Categories</option>
                                <option value="">Date</option>
                            </select>&nbsp;
                            <select name="" id="">
                                <option value="">---- Select All ----</option>
                                <option value="Cythia Paul">Cythia Paul</option>
                                <option value="Blessing Uche">Blessing Uche</option>
                                <option value="Silas Nwokeocha">Silas Nwokeocha</option>
                                <option value="Idowu Samson">Idowu Samson</option>
                                <option value="Mathew Jade">Mathew Jade</option>
                                <option value="Will Smith">Will Smith</option>
                                <option value="Cindy Eze">Cindy Eze</option>
                                <option value="Simon Peter">Simon Peter</option>
                            </select>
                            &nbsp;
                            <button class="search-sales-by-attendant-buttton link"><i class="fas fa-search"></i> <span class="search-text"> &nbsp; Search</span> </button>
                        </div>
                    </div>
                    <div class="dasboard-display-div">
                            <table>
                                    <thead>
                                        <tr>
                                            <th colspan="5" id="table-head"> ALL PRODUCTS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>ID</th>
                                            <th>  Name</th>
                                            <th>Type</th>
                                            <th>Categories</th>
                                            <th>Date Added</th>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td> Simbi sugar</td>
                                            <td>Sugar</td>
                                            <td>Beverages</td>
                                            <td>000000000000</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Dano Milk</td>
                                            <td>Milk</td>
                                            <td>Beverages</td>
                                            <td>000000000000</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Peak Milk</td>
                                            <td>Milk</td>
                                            <td>Beverages</td>
                                            <td>000000000000</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Nescafe</td>
                                            <td>Coffee</td>
                                            <td>Beverages</td>
                                            <td>000000000000</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Grand Malt</td>
                                            <td>Malt</td>
                                            <td>Drinks</td>
                                            <td>000000000000</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Maltina</td>
                                            <td>Malt</td>
                                            <td>Drinks</td>
                                            <td>000000000000</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>Peanut</td>
                                            <td>Nuts</td>
                                            <td>Nuts</td>
                                            <td>000000000000</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>Bournvita</td>
                                            <td>Bournvita</td>
                                            <td>Beverages</td>
                                            <td>000000000000</td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>Tura Soap</td>
                                            <td>Soap</td>
                                            <td>Soap</td>
                                            <td>000000000000</td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>Joy Saop
                                            <td>Soap</td>
                                            <td>Soap</td>
                                            <td>000000000000</td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td>Skineal</td>
                                            <td>Tube</td>
                                            <td>Cream</td>
                                            <td>000000000000</td>
                                        </tr>                                        
                                        <tr>
                                            <td>13</td>
                                            <td>Neoskin</td>
                                            <td>Tube</td>
                                            <td>Cream</td>
                                            <td>000000000000</td>
                                        </tr>
                                        <tr>
                                            <td>14</td>
                                            <td>Silver line</td>
                                            <td>Lotion</td>
                                            <td>Cream</td>
                                            <td>000000000000</td>
                                        </tr>
                                        <tr>
                                            <td>15</td>
                                            <td>Sivoclaire</td>
                                            <td>Lotion</td>
                                            <td>Cream</td>
                                            <td>000000000000</td>
                                        </tr>
                                        <tr>
                                            <td>16</td>
                                            <td>Dubai</td>
                                            <td>Perfume</td>
                                            <td>Perfume</td>
                                            <td>000000000000</td>
                                        </tr>
                                        <tr>
                                            <td>17</td>
                                            <td>Cowbell</td>
                                            <td>Milk</td>
                                            <td>Beverages</td>
                                            <td>000000000000</td>
                                        </tr>
                                        <tr>
                                            <td>18</td>
                                            <td>Cowbell chocolate</td>
                                            <td>chocolate</td>
                                            <td>Beverages</td>
                                            <td>000000000000</td>
                                        </tr>
                                        <tr>
                                            <td>19</td>
                                            <td>Nivea</td>
                                            <td>Roll on</td>
                                            <td>Perfume</td>
                                            <td>000000000000</td>
                                        </tr>
                                        <tr>
                                            <td>20</td>
                                            <td>Avira</td>
                                            <td>Soap</td>
                                            <td>Soap</td>
                                            <td>000000000000</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5">Click on available products to see the list of products that are available on stock.</td>
                                        </tr>
                                    </tfoot>
                                </table>
                    </div>
                </div>
            </div>
        </div>        
    </body>
</html>