<html lang="en">
    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
            <meta name="description" content="Store Manus is an online app that help you manage your sales">
            <meta name="author" content="XROLE">
            <meta name="theme-color" content="#000a3f">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" href="../css/style.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">      
            <link href="https://fonts.googleapis.com/css?family=Exo|Poiret+One" rel="stylesheet">
            <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
            <link rel="manifest" href="./manifest.json">
            <script type="text/javascript" src="../js/admin.js"></script>
        <title>Store Manus</title>
    </head>
    <body style="background-color: white; color:#000a3f;">
        <div>
            <nav class="navbar">
                    <div class="navLogo">
                        <p><a href="../index.html" style="color: white"> <i class="fas free fa-stream" ></i> &nbsp; <span>Store Manus</span></a></p>
                        <p>
                            <i class="fa fa-bars hanburgerButton" ></i>
                            <i class="fa fa-times close" ></i>
                        </p>                 
                    </div>
                    <ul class="nav-items">
                        <!-- <a href="signup.html" style="color: white"> <li>Register</li></a>
                        <a href="signin.html" style="color: white"><li>Login</li></a> -->
                        <a href="../index.html" style="color: white"><li>Logout</li></a>
                    </ul>
            </nav>
            <!-- attendant Dashboard content div -->
            <div class="att-dashboard-div">
                <div class="att-dashboard-img-div">
                    <a href=""> <img src="../img/avatar.jpg" alt="" class="Avatar"></a>&nbsp;
                    Hi, Xrole
                </div>
                <div class="att-dashboard-middle-item-div">
                        <p class="att-dashboard-item"> <a href="attendant-dashboard.html"> Dashboard</a> </p>                  
                    <p class="att-dashboard-item"> <a href="att-pro-update.html"><i class="fas fa-pen-nib"> &nbsp;</i>Update Profile</a> </p>                  
                    <p class="att-dashboard-item"> <a href="att-avai-products.html"><i class="fab fa-accessible-icon"></i> &nbsp; Available Product </a></p>
                    <p class="att-dashboard-item"> <a href="att-sales-record.html"><i class="fas fa-arrows-alt"></i>&nbsp; Sales Record</a>  </p>
                </div>
                <div>
                    <a href="create-sales.html">
                        <p class="att-dashboard-item"><i class="fas fa-cart-plus"></i> &nbsp; Create Sales</p>
                    </a>
                </div>
            </div>
            <!-- display functionality content            -->
            <div class="attendant-display-functionality-div">
                <!-- available product table -->
                <table id="avalaible-products-table">
                    <thead>
                        <tr>
                            <th colspan="6" class="table-head"><i class="fas fa-arrows-alt"></i>&nbsp; SALES RECORD </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Names</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Types</th>
                            <th>Categories</th>                                    
                        </tr>
                        <tr>
                            <td>Luis Sugar</td>
                            <td>200</td>
                            <td>5</td>
                            <td>1000</td>
                            <td>Sugar</td>
                            <td>Beverages</td>
                        </tr>
                        <tr>
                            <td>Cowbell</td>
                            <td>600</td>
                            <td>3</td>
                            <td>18000</td>
                            <td>Milk</td>
                            <td>Beverages</td>
                        </tr>
                        <tr style="font-weight: bold">
                            <td>TOTAL</td>
                            <td></td>
                            <td></td>
                            <td>2800</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">Attendant's sales record</td>
                        </tr>
                    </tfoot>
                </table>                                      
            </div>
        </div>        
    </body>
</html>